<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Layout 2 Float</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="header"></div>

            <div class="content-section">
                <div>
                    <div class="boxes"></div>
                    <div class="boxes"></div>
                    <div class="boxes"></div>
                </div>
                <div>
                    <div class="boxes"></div>
                    <div class="boxes"></div>
                    <div class="boxes"></div>
                </div>
                <div>
                    <div class="boxes"></div>
                    <div class="boxes"></div>
                    <div class="boxes"></div>
                </div>    
            </div>
            
            <div class="footer"></div>
        </div>
    </body>
</html>