<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Table Layout 3</title>
    </head>
    <body>
        <table class="wrapper">
            <tr>
                <td>
                    <table class="header"></table>
                </td>
            </tr>
            <tr class="bg">
                <td>
                    <table class="body" align="center">
                        <tr class="row">
                            <td class="middle"></td>
                            <td class="middle"></td>
                            <td class="middle"></td>
                        </tr>
                        <tr class="row">
                            <td class="middle"></td>
                            <td class="middle"></td>
                            <td class="middle"></td>
                        </tr>
                        <tr class="row">
                            <td class="middle"></td>
                            <td class="middle"></td>
                            <td class="middle"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="footer"></table>
                </td>
            </tr>
        </table>
    </body>
</html>