.wrapper {
    margin: 0 auto;
	width: 600px;
}
.header {
    width: 100%;
    height: 70px;
    background-color: red;
}
.column1 {
    width: 100px;
    height: 500px;
    background-color: blue;
}
.column2 {
    width: 394px;
    height: 500px;
    background-color: chartreuse;
}
.column3 {
    width: 100px;
    height: 500px;
    background-color: blue;
}
.footer {
    width: 100%;
    height: 70px;
    background-color: #d1d1cd;
}