.main-wrapper {
    margin: 0 auto;
    width: 600px;
}
.wrapper {
    display: flex;
    background-color: red;
    width: 100%;
}

.header {
    height: 70px;
}

.footer {
    height: 70px;
}

.content-section {
    background-color: grey;
    display: flex;
    width: auto;
    height: auto;
}

.boxes div{
    background-color: red;
    height: 80px;
    width: 80px;
    margin: 30px;
    margin-left: 52px;
    padding: 15px;
    margin-bottom: 40px;
}