<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Table Layout 2</title>
    </head>
    <body>
        <table class="wrapper" align="center">
            <tr>
                <td>
                    <table class="header" align="center"></table>
                    <table class="column1" align="left"></table>
                    <table class="column2" align="left"></table>
                    <table class="column3" align="left"></table>
                    <table class="footer" align="center"></table>
                </td>
            </tr>
        </table>
    </body>
</html>